@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-here {
  font-size: 14px;
}

h1 {
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

.Register,
.Home {
  margin: 5rem auto;
  max-width: 35rem;
  padding: 4rem;
  border: 3px solid rgb(146, 142, 142);
  border-radius: 1rem;
}
.name {
  margin-bottom: 1.1rem;
}

.table {
  margin: 3rem auto;
  max-width: 85%;
}

.id {
  max-width: 3rem;
  display: flex;
  gap: 0.5rem;
}

.select {
  line-height: 0;
  display: inline-block;
}
